.home {
  font-family: 'Rochester';
  color: white;
  overflow: hidden;
}

.home .background {
  height: 100%;
  width: 100%;
  /*https://unsplash.com/photos/eh_vUyioHhc*/
}

.home .background .background-img {
  height: 100%;
  top: 50%;
  left: 50%;
}

.home .md-icon-button {
  top: 20px;
  left: 20px;
}

.home .logo {
  z-index: 1;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 50%;
}
