.home {
  font-family: 'Rochester';
  color: white;
  overflow: hidden;
}

.home .background {
  height: 100%;
  width: 100%;
  /*https://unsplash.com/photos/eh_vUyioHhc*/
}

.home .background .background-img {
  height: 100%;
  top: 50%;
  left: 50%;
}

.home .md-icon-button {
  top: 20px;
  left: 20px;
}

.home h1 {
  text-align: center;
  font-size: 7em;
  top: 50%;
  left: 50%;
  width: 100%
}
