.poems .title {
  font-family: 'Rochester';
  font-size: 1.3em;
}

.poems .list {
  margin-top: 56px; /* Margin header = 56 */
  font-size: 0.90em;
}

.poems .list md-list {
  padding: 0;
}

.poems .chapters .chapter-title .md-list-item-inner {
  font-weight: bold;
}

.poems .poem {
  margin-left: 20px;
}

.poems .chapter-title div,
.poems .poem div {
  line-height: 20px;
}
