.poem .content {
  margin: 10px;
  margin-top: 86px; /* Margin header + margin top = 54 + 30*/
  margin-bottom: 20px;
  font-family: 'baskerville';
  font-size: 0.90em;
}

.poem .content .chapter-body .chapter-title {
  margin-top: 60px;
  margin-bottom: 30px;
}

.poem .content .chapter-body .poem-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.poem .poem-body {
  display: table;
  margin-top: 20px;
}

.poem .poem-body .stanza {
  margin: 0;
  margin-left: 2em;
}

.poem .poem-body .stanza .verse {
  margin: 0;
  margin-left: -2em;
}
