<md-content class="menu">
 <md-toolbar>
	 <div class="md-toolbar-tools">
		 <md-button class="md-icon-button" ng-click="go(routes.HOME);"
		 	 aria-label="Left">
			 <md-icon md-svg-icon="img/icons/left.svg"></md-icon>
		 </md-button>
		 <h2>
			 <span>Menú</span>
		 </h2>
	 </div>
 </md-toolbar>

  <div class="list">
      <md-list class="chapters">
        <md-list-item  class="chapter-title" ng-click="go(routes.HOME);">
          Home
        </md-list-item>
				<md-list-item  class="chapter-title" ng-click="go(routes.HOME);">
          Poemas
        </md-list-item>
				<md-list-item  class="chapter-title" ng-click="go(routes.HOME);">
          Autor
        </md-list-item>
				<md-list-item  class="chapter-title" ng-click="go(routes.HOME);">
          Sobre la App
        </md-list-item>
      </md-list>
  </div>
</md-content>
